In [9]:
import pandas as pd
import numpy as np

In [11]:
file = 'input/fifarank.csv'

In [12]:
df = pd.read_csv(file, encoding="ISO-8859-1")

In [13]:
df.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [5]:
del df['country_abrv']
df.head()

,rank,country_full,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [6]:
del df['previous_points']
df.head()

,rank,country_full,total_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,0.0,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,0.0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [7]:
del df['rank_change']
df.head()

,rank,country_full,total_points,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [8]:
del df['last_year_avg']
df.head()

,rank,country_full,total_points,cur_year_avg,cur_year_avg_weighted,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [9]:
del df['last_year_avg_weighted']
del df['two_year_ago_avg']
del df['two_year_ago_weighted']
del df['three_year_ago_avg']
del df['three_year_ago_weighted']
del df['confederation']
df.head()

,rank,country_full,total_points,cur_year_avg,cur_year_avg_weighted,rank_date
0,1,Germany,0.0,0.0,0.0,1993-08-08
1,2,Italy,0.0,0.0,0.0,1993-08-08
2,3,Switzerland,0.0,0.0,0.0,1993-08-08
3,4,Sweden,0.0,0.0,0.0,1993-08-08
4,5,Argentina,0.0,0.0,0.0,1993-08-08

In [18]:
df[df.rank_date == '2016-12-22']

,rank,country_full,total_points,cur_year_avg,cur_year_avg_weighted,rank_date
53784,1,Argentina,1634.02,903.24,903.24,2016-12-22
53785,2,Brazil,1544.05,879.22,879.22,2016-12-22
53786,3,Germany,1432.54,752.68,752.68,2016-12-22
53787,4,Chile,1403.96,739.73,739.73,2016-12-22
53788,5,Belgium,1367.77,600.01,600.01,2016-12-22
53789,6,Colombia,1344.70,746.52,746.52,2016-12-22
53790,7,France,1305.41,862.90,862.90,2016-12-22
53791,8,Portugal,1229.12,617.85,617.85,2016-12-22
53792,9,Uruguay,1187.31,620.21,620.21,2016-12-22
53793,10,Spain,1165.66,507.92,507.92,2016-12-22
53794,11,Switzerland,1128.75,602.17,602.17,2016-12-22
53795,12,Wales,1120.86,610.14,610.14,2016-12-22
53796,13,England,1114.45,568.56,568.56,2016-12-22
53797,14,Croatia,1103.27,632.53,632.53,2016-12-22
53798,15,Poland,1086.72,702.26,702.26,2016-12-22
53799,16,Italy,1082.60,597.80,597.80,2016-12-22
53800,17,Costa Rica,1040.55,631.38,631.38,2016-12-22
53801,18,Mexico,1012.00,575.48,575.48,2016-12-22
53802,19,Peru,965.37,638.51,638.51,2016-12-22
53803,20,Ecuador,890.45,402.61,402.61,2016-12-22
53804,21,Iceland,889.28,490.08,490.08,2016-12-22
53805,22,Netherlands,887.14,362.21,362.21,2016-12-22
53806,23,Republic of Ireland,857.64,447.20,447.20,2016-12-22
53807,24,Turkey,850.58,363.41,363.41,2016-12-22
53808,25,Slovakia,837.07,387.16,387.16,2016-12-22
53809,26,Hungary,826.32,366.73,366.73,2016-12-22
53810,27,Bosnia and Herzegovina,825.47,367.05,367.05,2016-12-22
53811,28,USA,822.00,422.15,422.15,2016-12-22
53812,29,IR Iran,814.49,468.14,468.14,2016-12-22
53813,30,Ukraine,803.65,363.62,363.62,2016-12-22
...,...,...,...,...,...,...
53965,182,Guam,88.99,0.00,0.00,2016-12-22
53966,183,Malta,85.13,16.46,16.46,2016-12-22
53967,184,Macau,81.86,58.44,58.44,2016-12-22
53968,185,Bangladesh,80.79,33.65,33.65,2016-12-22
53969,186,Seychelles,77.67,45.54,45.54,2016-12-22
53970,187,Bermuda,76.96,0.00,0.00,2016-12-22
53971,187,Solomon Islands,76.50,76.50,76.50,2016-12-22
53972,189,Liechtenstein,75.27,0.00,0.00,2016-12-22
53973,190,Brunei Darussalam,74.38,42.50,42.50,2016-12-22
53974,191,Timor-Leste,64.00,3.86,3.86,2016-12-22
53975,191,American Samoa,63.75,0.00,0.00,2016-12-22
53976,191,Cook Islands,63.75,0.00,0.00,2016-12-22
53977,191,Samoa,63.75,0.00,0.00,2016-12-22
53978,195,Sri Lanka,44.14,18.89,18.89,2016-12-22
53979,195,US Virgin Islands,43.99,0.00,0.00,2016-12-22
53980,197,Pakistan,39.64,0.00,0.00,2016-12-22
53981,198,Mongolia,38.30,34.00,34.00,2016-12-22
53982,199,Montserrat,30.42,0.00,0.00,2016-12-22
53983,200,Cayman Islands,21.25,0.00,0.00,2016-12-22
53984,201,Turks and Caicos Islands,19.80,0.00,0.00,2016-12-22
53985,202,San Marino,16.63,0.00,0.00,2016-12-22
53986,203,Andorra,11.68,9.48,9.48,2016-12-22
53987,204,British Virgin Islands,10.62,0.00,0.00,2016-12-22
53988,205,Anguilla,0.00,0.00,0.00,2016-12-22
53989,205,Bahamas,0.00,0.00,0.00,2016-12-22
53990,205,Djibouti,0.00,0.00,0.00,2016-12-22
53991,205,Eritrea,0.00,0.00,0.00,2016-12-22
53992,205,Gibraltar,0.00,0.00,0.00,2016-12-22
53993,205,Somalia,0.00,0.00,0.00,2016-12-22
53994,205,Tonga,0.00,0.00,0.00,2016-12-22

In [23]:
df.to_csv('fifa_rankings_edited', sep=',')